[submodule "dependency/restbed"]
	path = dependency/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "dependency/property_tree"]
	path = dependency/property_tree
	url = https://github.com/boostorg/property_tree.git
[submodule "dependency/mysql-connector-cpp"]
	path = dependency/mysql-connector-cpp
	url = https://github.com/mysql/mysql-connector-cpp.git
[submodule "dependency/json"]
	path = dependency/json
	url = https://github.com/nlohmann/json
	branch = master
[submodule "dependency/object_pool"]
	path = dependency/object_pool
	url = https://github.com/carlosb/object_pool
[submodule "dependency/celeste_rn"]
	path = dependency/celeste_rn
	url = https://github.com/TOHTics/celeste_rn
[submodule "dependency/soci"]
	path = dependency/soci
	url = git://github.com/SOCI/soci.git
